<!DOCTYPE html>
<html>
	<head>

    	<meta charset="utf-8" />

    	<link rel="stylesheet" href="../presentation.css" />

    	<title>Welcome !</title>
	</head>

	<body>
		<header>
        <center><img src="../images/family.jpg" alt="family" /></center>
	      <h1> <center> Add a family member </center></h1>
		</header>
    <h2> <center> Age: <input type="range" id="Age" name="Age" step="1" value="3" min="0" max="60" /></center></h2>
    
    <form method="post" action="traitement.php">

   <p/>
      <center><input type="image" value="save" src="../images/save.png"/>      <input type="image" value="delete" src="../static/delete.jpg"/><center/>

   </p>

  
	</body>
</html>
