<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Nutritious diet</title>
		<link rel="stylesheet" href="../static/style.css" />
	</head>
	<body>
		<h1>Nutritious diet</h1>
		
		<table id="diet">
			<tr>
				<th class="empty"></th>
				<th class="titlecell">corn</th>
				<th class="titlecell">fish</th>
				<th class="titlecell">carrot</th>
			</tr>
			<tr>
				<td class="member">Baby</td>
				<td>5</td>
				<td>0</td>
				<td>15</td>
			</tr>
			<tr>
				<td class="member">Father</td>
				<td>15</td>
				<td>10</td>
				<td>8</td>
			</tr>
			<tr>
				<td class="member">Mother</td>
				<td>15</td>
				<td>12</td>
				<td>7</td>
			</tr>
			<tr>
				<td class="titlecell">Total</td>
				<td class="tablebottom">35</td>
				<td class="tablebottom">22</td>
				<td class="tablebottom">30</td>
			</tr>
			<tr>
				<td class="titlecell">Price</td>
				<td class="tablebottom">7</td>
				<td class="tablebottom">5.5</td>
				<td class="tablebottom">10</td>
			</tr>
			<tr>
				<td class="empty"></td>
				<td class="info"><img src="../images/info.png" id="info_corn"></td>
				<td class="info"><img src="../images/info.png" id="info_fish"></td>
				<td class="info"><img src="../images/info.png" id="info_carrot"></td>
			</tr>
			<tr class="buttons">
				<td class="empty"></td>
				<td class="market"><img src="../images/market.png" id="market_corn"></td>
				<td class="market"><img src="../images/market.png" id="market_fish"></td>
				<td class="market"><img src="../images/market.png" id="market_carrot"></td>
			</tr>
		</table>
		
		<div id="splashinfo">
			<h3 id="infotitle">Title</h3>
			<img id="infoimage">
		</div>
		
		<div id="splashmarket">Informations about where to buy an ingredient.</div>
		
		<script src="../jquery-3.1.1.js"></script>
		<script>
			$(function() {
				$(".info > img").click(function(event){
					$("#diet").hide();
					$("#splashinfo").show();
					var ingredient = (event.target.id).substr(5);
					$("#infotitle").html(ingredient).css("text-transform","capitalize");
				});
			});
			$(function() {
				$(".market > img").click(function(event){
					$("#diet").hide();
					$("#splashmarket").show();
					var ingredient = (event.target.id).substr(7);
				});
			});
			$(function() {
				$("#splashinfo").click(function(){
					$("#diet").show();
					$("#splashinfo").hide();
				});
			});
			$(function() {
				$("#splashmarket").click(function(){
					$("#diet").show();
					$("#splashmarket").hide();
				});
			});
		</script>
	</body>
</html>
