<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Nutritious diet</title>
		<link rel="stylesheet" href="style.css" />
	</head>
	<body>
		<h1>Nutritious diet</h1>
		
		<table id="diet">
			<tr>
				<th></th>
				<!--><th class="titlecell">ingredient</th></-->
				<!-->As many ingredients as needed for the diet : N</-->
			</tr>
			<tr> <!-->As many lines as members in the family : M</-->
				<!--><td class="member">family member</td></-->
				<!--><td>portion for n-th ingredient</td></-->
			</tr>
			<tr>
				<td class="titlecell">Total</td>
				<!--><td>total of n-th ingredient</td></-->
				<!-->N times</-->
			</tr>
			<tr>
				<td class="titlecell">Price</td>
				<!--><td>total price for n-th ingredient</td></-->
				<!-->N times</-->
			</tr>
			<tr>
				<td></td>
				<td class="info"></td>
				<!-->N times</-->
			</tr>
			<tr>
				<td></td>
				<td class="market"></td>
				<!-->N times</-->
			</tr>
		</table>
	</body>
</html>
