<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Nutritious diet</title>
		<link rel="stylesheet" href="../static/style.css" />
	</head>
	<body>
		<h1>Nutritious diet</h1>
		
		<table id="diet">
			<tr>
				<th class="empty"></th>
				<th class="titlecell">maize</th>
				<th class="titlecell">eggplant</th>
				<th class="titlecell">peanut</th>
			</tr>
			<tr>
				<td class="member">Baby</td>
				<td>5</td>
				<td>0</td>
				<td>15</td>
			</tr>
			<tr>
				<td class="member">Father</td>
				<td>15</td>
				<td>10</td>
				<td>8</td>
			</tr>
			<tr>
				<td class="member">Mother</td>
				<td>15</td>
				<td>12</td>
				<td>7</td>
			</tr>
			<tr>
				<td class="titlecell">Total</td>
				<td class="tablebottom">35</td>
				<td class="tablebottom">22</td>
				<td class="tablebottom">30</td>
			</tr>
			<tr>
				<td class="titlecell">Price</td>
				<td class="tablebottom">7</td>
				<td class="tablebottom">5.5</td>
				<td class="tablebottom">10</td>
			</tr>
			<tr>
				<td class="empty"></td>
				<td class="info"><img src="../images/info.png" id="info_maize"></td>
				<td class="info"><img src="../images/info.png" id="info_eggplant"></td>
				<td class="info"><img src="../images/info.png" id="info_peanut"></td>
			</tr>
			<tr class="buttons">
				<td class="empty"></td>
				<td class="market"><img src="../images/market.png" id="market_maize"></td>
				<td class="market"><img src="../images/market.png" id="market_eggplant"></td>
				<td class="market"><img src="../images/market.png" id="market_peanut"></td>
			</tr>
		</table>
		
		<div id="splashinfo">
			<h3 id="infotitle">Title</h3>
			<img id="infoimage">
			<p id="nutriments"></p>
		</div>
		
		<div id="splashmarket">
			<h3 id="markettitle">Title</h3>
			<p id="markets"></p>
		</div>
		
		<p class="center" id="back">Change family</p>
		
		<script src="../jquery-3.1.1.js"></script>
		<script>
			$(function() {
				$(".info > img").click(function(event){
					$("#diet").hide();
					$("#splashinfo").show();
					var ingredient = (event.target.id).substr(5);
					var nutriment1 = "calcium";
					var nutriment2 = "iron";
					var nutriment3 = "magnesium";
					$("#infotitle").html(ingredient).css("text-transform","capitalize");
					$("#infoimage").attr("src","../images/"+ingredient+".jpg").css("heigth","100px").css("width","100px");
					$("#nutriments").html("The "+ingredient+" provides mostly "+nutriment1+", "+nutriment2+" and "+nutriment3+".");
				});
			});
			$(function() {
				$(".market > img").click(function(event){
					$("#diet").hide();
					$("#splashmarket").show();
					var ingredient = (event.target.id).substr(7);
					$("#markettitle").html("Where can you find "+ingredient+"?").css("text-transform","capitalize");
					$("#markets").html("You can buy "+ingredient+" in various local markets from your region.");
				});
			});
			$(function() {
				$("#splashinfo").click(function(){
					$("#diet").show();
					$("#splashinfo").hide();
				});
			});
			$(function() {
				$("#splashmarket").click(function(){
					$("#diet").show();
					$("#splashmarket").hide();
				});
			});
			$(function() {
				$("#back").click(function(){
					window.location = "presentation.html";
				});
			});
		</script>
	</body>
</html>
