<!DOCTYPE html>
<html>
	<head>
    	<meta charset="utf-8" />
    	<link rel="stylesheet" href="../static/style.css" />
    	<title>Welcome !</title>
	</head>
	<body>
		<header>
			<img src="../images/burkina-faso.jpg" alt="Burkina Faso Flag" id="flag"/>
			<h1 id="titlepresentation">You are now connected in Burkina Faso</h1>
		</header>
		
		<div id="mainscreen">
		<h2>Please describe your family:</h2>
		
		<ul id="family"></ul>
		<p class="center"><img id="add" src="../images/add.png"/></p>
		
		<p class="center" id="display">Display diet</p>
		</div>
		
		<div id="splashmember">
			<p class="center">Age: <select id="age">
										<option value="cat0">1-5 months</option>
										<option value="cat1">6-8 months</option>
										<option value="cat2">9-11 months</option>
										<option value="cat3">12-23 months</option>
										<option value="cat4">2-3 years</option>
										<option value="cat5">3-4 years</option>
										<option value="cat6">4-5 years</option>
										<option value="cat7">5-6 years</option>
										<option value="cat8">6-7 years</option>
										<option value="cat9">7-8 years</option>
										<option value="cat10">8-9 years</option>
										<option value="cat11">9-10 years</option>
										<option value="cat12">10-11 years</option>
										<option value="cat13">11-12 years</option>
										<option value="cat14">12-13 years</option>
										<option value="cat15">13-14 years</option>
										<option value="cat16">14-15 years</option>
										<option value="cat17">16-29 years</option>
										<option value="cat18">30-59 years</option>
										<option value="cat19">>60 years</option>
									</select></p>
			<p class="center">Gender: <select id="gender">
										<option value="child">Child</option>
										<option value="male">Male</option>
										<option value="female">Female</option>
									</select></p>
			<p class="center">Activity: <select id="activity">
										<option value="nothing">Nothing</option>
										<option value="pregnancy">Pregnancy</option>
										<option value="lactation">Lactation</option>
									</select></p>
			<p class="center"><img src="../images/save.png" id="save"></p>
		</div>
		
		<script src="../jquery-3.1.1.js"></script>
		<script>
			$("#display").hide();
			$("#splashmember").hide();
			$(function() {
				$("#add").click(function(){
					$("#splashmember").show();
					$("header").hide();
					$("#mainscreen").hide();
					$("#display").hide();
				});
			});
			$(function() {
				$("#save").click(function(){
					var n = $("#family li").length;
					var age = $("#age option:selected").text();
					var gender = $("#gender option:selected").text();
					var activity = $("#activity option:selected").text();
					$("#family").append('<li><span id="type_'+n+'">'+gender+'</span>, <span id="age_'+n+'">'+age+'</span>, <span id="activity_'+n+'">'+activity+'</span> <img id="delete_'+n+'" class="delete" src="../images/delete.png"></li>');
					$("#splashmember").hide();
					$("header").show();
					$("#mainscreen").show();
					$("#display").show();
				});
			});
			$(function() {
				$("body").on("click",".delete",function(event){
					$("#family li").eq(parseInt(event.target.id.substr(7))).remove();
				});
			});
			$(function() {
				$("#display").click(function(){
					window.location = "display.html";
				});
			});
		</script>
	</body>
</html>
