<!DOCTYPE html>
<html>
	<head>
    	<meta charset="utf-8" />
    	<link rel="stylesheet" href="../static/style.css" />
    	<title>Welcome !</title>
	</head>
	<body>
		<header>
			<img src="../images/burkina-faso.jpg" alt="Burkina Faso Flag" id="flag"/>
			<h1 id="titlepresentation">You are now connected in Burkina Faso</h1>
		</header>
		
		<div id="mainscreen">
		<h2>Please describe your family:</h2>
		
		<ul id="family"></ul>
		<p class="center"><img id="add" src="../images/add.png"/></p>
		
		<p class="center" id="display">Display diet</p>
		</div>
		
		<div id="splashmember">
			<img src="../images/save.png" id="save">
		</div>
		
		<script src="../jquery-3.1.1.js"></script>
		<script>
			$("#display").hide();
			$("#splashmember").hide();
			$(function() {
				$("#add").click(function(){
					$("#splashmember").show();
					$("header").hide();
					$("#mainscreen").hide();
					$("#display").hide();
					var n = $("#family li").length;
					$("#family").append('<li><span id="type_'+n+'">Type</span>, <span id="age_'+n+'">age</span>, <span id="activity_'+n+'">activity</span> <img id="delete_'+n+'" class="delete" src="../images/delete.png"></li>');
				});
			});
			$(function() {
				$("#save").click(function(){
					$("#splashmember").hide();
					$("header").show();
					$("#mainscreen").show();
					$("#display").show();
				});
			});
			$(function() {
				$("body").on("click",".delete",function(event){
					$("#family li").eq(parseInt(event.target.id.substr(7))).remove();
					alert("okay");
				});
			});
			$(function() {
				$("#display").click(function(){
					window.location = "display.html";
				});
			});
		</script>
	</body>
</html>
