<!DOCTYPE html>
<html>
	<head>

    	<meta charset="utf-8" />

    	<link rel="stylesheet" href="../static/style.css" />

    	<title>Welcome !</title>
	</head>

	<body>
		<header>
			<img src="../images/burkina-faso.png" alt="Drapeau Burkina Faso" />
      <h1> <center> You are now connected in Burkina Faso </center></h1>
		</header>
    <h2> <center> Please describe your family: </center></h2>

    <form method="post" action="traitement.php">

   <p/>
      <center><input type="image" value="add" src="../images/add.png"/><center/>

   </p>

  </form>
		
    <form method="post" action="traitement.php">

   <p/>
   <br>
       <center><input type="submit" value="Display diet" /><center/>
   <br/>
   </p>

	</form>
	</body>
</html>
